body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 0;
    background-color: aliceblue;
  }
  
  p {
    margin: 10px;
    font-size: 22px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
  }

  .black-text{
    color: black;
  }
  